* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Dancing;
    src: url(../assets/fonts/Dancing\ Script/DancingScript-Regular.ttf);
}

html,
body {
    font-family: 'Dancing', cursive;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

img#mujer-image {
    max-width: 40%;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 10px;
}

.container {
    width: 100%;
    height: auto;
}


/*Para iphone 8*/
@media (max-width: 375px) {
    .container {
        height: 100%;
    }

    img#mujer-image {
        max-width: 60%;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    p {
        font-size: 12px;
        text-align: justify;
    }
}