

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img#mujer-image {
    max-width: 40%;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 10px;
}

/*Para iphone 14*/
@media (max-width: 390px) {
    body {
        font-size: 12px;
    }
    
    h1 {
        font-size: 1.8em;
    }
    
    h2 {
        font-size: 1.2em;
    }
    
    img#mujer-image {
        max-width: 80%;
        
    }
}