/* Vista 1440x900 */
@media (max-width: 1440px) {
    #center-size-images {
        width: 70%;
    }


    .momentos-images {
        grid-template-columns: repeat(3, 1fr);
    }

    .momentos-images img {
        width: 100%;
    }

    #chocolate-cake-image,
    #maki-image,
    #girasol {
        margin-left: 0;
        margin-right: 0;
        margin: 10px;
    }
}

/* Vista 1024x768 */
@media (max-width: 1024px) {
    iframe#spotify-iframe {
        display: none;
    }

    img#spotify-code {
        display: block !important;
        max-width: 70%;
        height: auto;
        margin-top: 20px;
        border-radius: 12px;
    }
}

/* Vista por Iphone */
@media (max-width: 600px) {
    #left-size {
        width: 20%;
    }

    #center-size {
        width: 50%;
    }

    #right-size {
        width: 20%
    }

    iframe#spotify-iframe {
        display: none;
    }

    img#spotify-code {
        display: block !important;
        max-width: 70%;
        height: auto;
        margin-top: 20px;
        border-radius: 12px;
    }

    .container {
        width: 100%;
        padding: 20px;
    }

    #left-size-images,
    #right-size-images,
    #left-size-messages,
    #right-size-messages {
        display: none;
    }

    .momentos-images {
        grid-template-columns: repeat(2, 150px);
        gap: 30px;
    }

    #center-size-images {
        width: 80%;
    }

    p {
        font-size: 14px;
    }

    .img-container-moment p {
        font-size: 12px;
        padding: 10px;
        width: 100%;
        text-align: center;
        font-weight: bold;
    }


    .messageGridContainer {
        grid-template-columns: 1fr;
    }

    .messageGridContainer>div {
        grid-area: auto;
    }

}

@media (max-width: 800px) {
    .navbar {
        backdrop-filter: none;
    }

    .navbar-container .navbar-menu {
        flex-direction: column;
        align-items: center;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        display: none;
        right: 0px;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(255, 29, 202, 0.5);
        backdrop-filter: blur(10px);
    }

    .navbar-toggle {
        display: block;
        z-index: 1001;
    }

    .navbar-container .navbar-menu.active{
        display: flex;
    }
    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    } 
}