* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffc471;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

img {
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

ul {
    margin-top: 20px;
}

p {
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
    color: #fff;
}

.lirio li {
    list-style: none;
    /* quitar puntos normales */
    background-image: url('/assets/icons/maki.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;
    padding-left: 25px;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {

    img {
        width: 50%;
    }

    p {
        font-size: 16px;
    }

    .lirio li {
        font-size: 16px;
        padding-left: 20px;
    }
}